@model AgendaTurnos.Models.Turno

@{
    ViewData["Title"] = "ConfirmarTurno";
}

<h1>Confirmar Turno</h1>
<hr />
<div>
    <h2>Turno</h2>
    <h3>Verifique los datos antes de confirmar.</h3>
    <hr />
    <form asp-controller="Turno" asp-action="Create" method="Post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaSolicitud)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Profesional)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Profesional.Apellido)
                @Html.DisplayFor(model => model.Profesional.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Profesional.Prestacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Profesional.Prestacion.Nombre)
            </dd>
        </dl>
        <input type="hidden" name="fechaYhora" value="@Model.FechaSolicitud" />
        <input type="hidden" name="profesionalId" value="@Model.Profesional.Id" />
        <button type="submit">Seleccionar Fecha</button>


    </form>

</div>
