@model IEnumerable<AgendaTurnos.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<h1>Turnos</h1>

<p>
    <a asp-action="Create">Solicitar Turno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionCancelacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCancelacion)
            </td>
            <td>
                @if (item.Confirmado && (this.User.IsInRole(Rol.Administrador.ToString()) || this.User.IsInRole(Rol.Paciente.ToString())))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Cancelar Turno</a>
                }
                else if(!this.User.IsInRole(Rol.Paciente.ToString()))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Confirmar Turno</a>  
                }

            </td>
        </tr>
        }
    </tbody>
</table>
